<div class="container  p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <img with=180 alt="poke-logo"
        src='./assets/poke.png' class= mx-auto>
        <form (submit)="submitLocation(cityName, countryCode)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="city-name" #cityName>
          </div>
          <div class="from-group">
            <input type="text" class="form-control" placeholder="country-code" #countryCode>
          </div>
          <button class="btn btn-primary btn-block mt-2">
            Get Weather
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="weather" class="card card-body">
        <p>Temperature: {{weather.main.temp}}°C</p>
        <p>Latitude: {{weather.coord.lat}}</p>
        <p>Longitude: {{weather.coord.lon}}</p>
        <p>Humidity: {{weather.main.humidity}}</p>
        <p>Pressure: {{weather.main.pressure}}</p>
        <p>Description: {{weather.weather[0].description}}</p>
      </div>
    </div>
  </div>
</div>
